body{
    margin : 0px;
    font-family: 'Work Sans', sans-serif;
}

header{
    background: linear-gradient(to right, #6b64fe, #7df0fe);
    padding: 25px 10%;
}

.header-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.logo-anchor{
    text-decoration: none;
}

.nav-item{
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.5s linear;
    margin-left: 30px;
}

.nav-item:hover{
    color: #aaaaaa;
}

.card{
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 2px 4px 0 rgb(14, 30, 37,0.3);
    margin-top: 150px;
    margin-bottom: -150px;
    justify-content: space-beween;
    align-items: center;
    display: flex;
}

figure{
    margin: 0px;
}

video{
    border-radius: 10px;
}

.content{
    padding-left: 50px;
}

p{
    margin: 0px;
    margin-bottom: 10px;
}

#hello{
    color: rgb(104, 104, 104);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}

#name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
}

#status{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}

#intro{
    color: #838383;
    font-size: 14px;
}

.id-icons{
    margin-right: 10px;
}

#birthday{
    color: #838383;
    font-size: 14px;
}  

#phone-number{
    color: #838383;
    font-size: 14px;
}

#email{
    color: #838383;
    font-size: 14px;
}

#adress{
    color: #838383;
    font-size: 14px;
}

i{
    color: #6b64fe;
}

a{
    text-decoration: none;
}

.link-icons i{
    font-size: 24px;
    transition: color 0.5s linear;
}

.link-icons:hover i{
    color: #5f5f5f;
}

.social-media{
    display: flex;
}

.social-media-div{
    position: relative;
    margin-right: 10px;
}

.tooltip-text{
    margin: 0;
    text-align: center;
}

.tooltip{
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    background-color: black;
    color: white;
    padding: 3px;
    border-radius: 2px;
    transform: translateX(calc(100%/-2));
    left: 50%;
    top: 35px;
    opacity: 0;
    transition: opacity 0.5s linear;
}

.tooltip::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.social-media-div:hover .tooltip{
    opacity: 1;
}

.hidden{
    opacity: 0;
    transition: all 0.5s linear;
    transform: translateY(100px);
}

.mobile-nav-anchor{
    display: none;
}

.mobile-nav{
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 30vw;
    height: 100vh;
    background-color: #5f5f5f;
    z-index: 1;
}

.about-video{
    display: flex;
    border-radius: 2px;
}

.about{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: column;
}

.description{
    padding-left: 10px;
    padding-top: 15px;
}

.description-text{
    color: #494949;
    font-weight: 600;
    font-size: 16px;
}

.highlight-description{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.overwatch-highlight{
    border-radius: 10px;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-title{
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 15px;
}

.contact-input-field{
    padding: 10px;
    font-size: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 179, 255, 0.3);
    border: 1px solid rgba(0, 179, 255, 0.87);
    margin-bottom: 20px;
    resize: none;
    border-radius: 5px;
}

.contact-input-field:focus{
    outline: 2px solid rgba(0, 179, 255, 0.87);
}

.contact-message{
    font: 500 15px Sans-serif;
}

.contact-form{
    display: flex;
    flex-direction: column;
    width: 80%;
}

#submit-button{
    font: 500 15px Sans-serif;
}

@media (max-width : 768px){
    .card{
        flex-direction: column;
    }
    video{
        width: 100%;
        height: auto;
    }
    figure{
        width: 100%;
        height: auto;
    }
    .content{
        padding-left: 0;
        text-align: center;
        padding-top: 25px;
    }
    .social-media{
        justify-content: center;
    }
    .mobile-nav-anchor{
        display: flex;
        color: white;
        margin-bottom: 20px;
        text-decoration: none;
        width: fit-content;
    }

    .desktop-nav{
        display: none;
    }

    .mobile-nav{
        display: flex;
        flex-direction: column;
        padding: 10px;
        transition: all 0.5s linear;
        transform: translateX(250px);
    }

    .mobile-nav.show{
        transform: translateX(0px);
    }

    .nav-item{
        margin-left: 0;
        margin-bottom: 20px;
    }

    .nav-item:hover{
        color: #aaaaaa;
    }
}